* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Axeman";
  -webkit-user-drag: none;
  user-select: none;
}

body {
  background: black;
  overflow: hidden;
  min-height: 100vh;
  
}

.preskrtnuti {
  text-decoration: line-through;
}

canvas {
  border: 2px solid white;
  margin-top: 50px;
  margin-left: 50px;
  display: none;
}
#wrapper, #endscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 35vh 0;
  text-align: center;
}
#endscreen {
  z-index: 10;
  display: none;
  position: absolute;
  width: 100%;
  background-color: black;
  
}
#btn {
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  width: 120px;
  height: 70px;
  transition: .6s ease-in-out;
  background-color: palevioletred;
  font-size: 20px;
}
#btn:hover{
  scale: 1.2;
}
#g_name{
  color:blanchedalmond;
  font-size: 80px;
  justify-content: center;
  align-items: center;
}